/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
#root {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
#workContainer {
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.83rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.25; }

.work {
  width: 80%;
  flex: 0 0 auto;
  align-self: center;
  margin-top: 1.25rem;
  padding-bottom: 0.75rem;
  background-color: white;
  box-shadow: 0 4px 0.5rem #ccc;
  text-align: left;
  display: flex;
  flex-flow: column wrap; }
  .work:nth-child(1) {
    margin-top: 0; }
  @media (min-width: 750px) {
    .work {
      max-width: 800px; } }
  .work .workImg {
    height: 200px;
    width: 100%;
    flex: 0 0 auto;
    order: 0;
    object-fit: cover;
    object-position: 50% top; }
    @media (min-width: 750px) {
      .work .workImg {
        height: 320px; } }
    @media screen and (min-width: 615px) {
      .work .workImg {
        height: 440px; } }
    @media (min-width: 750px) {
      .work .workImg {
        height: 560px; } }
  .work .company {
    flex: 0 0 auto;
    order: 1;
    margin: 0.5rem 0;
    padding: 0 1rem;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 0.075rem; }
    @media (min-width: 750px) {
      .work .company {
        font-size: 1.5rem; } }
  .work .position {
    flex: 0 0 auto;
    order: 2;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 500; }
    .work .position include respond-to('medium') {
      font-size: 1.125rem; }
  .work .description {
    flex: 0 0 auto;
    order: 3;
    margin-bottom: 0.625rem;
    padding: 0 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.25; }
  .work .workContributions {
    flex: 0 0 auto;
    order: 4;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.25; }
    .work .workContributions .contributions {
      font-size: 1rem;
      font-weight: 500;
      margin: 0 0 0.125rem 1rem; }
      @media (min-width: 750px) {
        .work .workContributions .contributions {
          font-size: 1.125rem; } }
    .work .workContributions ul {
      margin: 0 0 0 1.5rem; }
    .work .workContributions li {
      width: 90%;
      margin: 0 0 0.25rem 1rem;
      text-align: left;
      list-style-position: outside;
      list-style-type: disc; }
  .work .links {
    order: 5;
    margin: 0.625rem 0 0.5rem 0;
    padding: 0 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.25;
    white-space: nowrap; }
    .work .links p {
      font-weight: 500;
      overflow: hidden; }
    .work .links a {
      padding-left: 0.625rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      line-height: 1.25; }
      .work .links a:hover {
        text-decoration: underline;
        text-decoration-color: black; }

#Resume {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.25;
  font-size: 0.83rem;
  text-align: left; }
  @media (min-width: 922px) {
    #Resume {
      height: auto;
      width: 100%; } }

#resume-container {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  align-self: center; }
  #resume-container a:hover {
    text-decoration: underline;
    text-decoration-color: gray; }
  @media (min-width: 750px) {
    #resume-container {
      display: flex;
      flex-flow: column wrap;
      max-height: 1215px;
      width: 85%;
      max-width: 1080px; }
      #resume-container #contact-container,
      #resume-container #skills-container,
      #resume-container #right-container {
        width: 33%;
        flex: 1; }
      #resume-container #contact-container {
        flex: 0 0 auto;
        order: 1;
        align-self: flex-start;
        margin: 0; }
        #resume-container #contact-container #contact-header {
          margin-left: 0.75rem;
          text-align: left; }
      #resume-container #skills-container {
        order: 2;
        align-self: flex-start; }
        #resume-container #skills-container .skills,
        #resume-container #skills-container h2 {
          margin-left: 1rem;
          padding-right: 0.75rem; }
      #resume-container #right-container {
        width: 63%;
        flex: 0 0 100%;
        order: 3;
        align-self: flex-end;
        padding-left: 2.375rem;
        border-left: 1px solid black; }
        #resume-container #right-container h2:nth-child(1) {
          margin: 0 0 0.25rem 0; } }

#contact-container {
  width: 16.375rem;
  flex: 0 0 auto;
  align-self: center;
  margin: 0.25rem 0 0 0; }
  #contact-container #contact-header {
    margin: 0 0 0.25rem 0;
    text-align: center; }
  #contact-container .contact {
    display: block;
    margin: 0 0 0 0.75rem;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.25;
    line-height: 1.5rem; }
    #contact-container .contact img {
      height: 1rem;
      width: 1rem;
      position: relative;
      top: 2px;
      padding-right: 0.375rem; }
    #contact-container .contact #email-icon {
      top: 3px; }

#development-experience,
#professional-experience,
#education,
#technical-skills,
#contact-header {
  margin: 1.5rem 0 0.25rem 0;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.075rem; }

#hele,
#office-social-media-manager,
#resident-assistant,
#fullstack-javascript-web-engineering,
#bachelor-of-arts-in-interdisciplinary-studies,
#communications-with-a-minor-in-social-entrepreneurship {
  font-size: 1.17rem;
  line-height: 1.625rem; }

#-hele-io-https-hele-io-,
#handcrafted-restaurants-llc,
#office-of-residential-life-housing-services-at-new-york-university,
#languages,
#frontend,
#server-side,
#database,
#web-skills,
#business-development {
  font-size: 1rem;
  font-weight: 500; }

#may-2017,
#hi-aug-2013-dec-2017,
#ny-aug-2012-may-2013,
#devleague,
#new-york-university-gallatin-school-of-individualized-study-2011-2013 {
  margin: 0 0 0.125rem 0;
  font-size: 0.83rem; }

.responsibilities {
  width: 90%; }
  .responsibilities li {
    margin-left: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.25;
    list-style-position: outside;
    list-style-type: disc; }

#resp-skills {
  margin-bottom: 0.25rem;
  text-align: left;
  line-height: 1.25rem; }

#bachelor-of-arts-in-interdisciplinary-studies,
#resident-assistant {
  margin-top: 1rem; }

#tech-skills-col div:nth-child(1) {
  margin-top: -0.5rem; }
  @media (min-width: 922px) {
    #tech-skills-col div:nth-child(1) {
      margin-top: -0.25rem; } }

#skills-container .skills h4 {
  padding-right: 0.5rem;
  font-weight: 500;
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase; }

.lineBreak {
  height: 0.5rem;
  width: 75%;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #cccccc;
  border-left: none; }
  @media (min-width: 750px) {
    .lineBreak {
      display: none; } }

#About {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.25; }

#About-Container {
  width: 80%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center; }
  @media (min-width: 866px) {
    #About-Container {
      display: flex;
      flex-flow: row nowrap;
      width: 85%; } }
  #About-Container img {
    align-self: center; }
    @media (max-width: 480px) {
      #About-Container img {
        width: 100%;
        height: auto; } }
    @media (min-width: 866px) {
      #About-Container img {
        align-self: flex-start; } }
  #About-Container #text {
    font-size: 0.83rem;
    text-align: justify; }
    @media (min-width: 866px) {
      #About-Container #text {
        max-width: 600px;
        text-align: justify;
        margin: 0 0 0 4rem; }
        #About-Container #text p:nth-child(1) {
          margin-top: 0; } }
    #About-Container #text p {
      margin-top: 1.25rem; }
    #About-Container #text a:hover {
      text-decoration: underline;
      text-decoration-color: gray; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.25;
  background-color: #e8e7e5; }
  body a,
  body a:visited {
    text-decoration: none;
    color: black; }

#Nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 1rem 0;
  box-shadow: 0 1px 1px #ccc;
  border-radius: 2px;
  background-color: #c2dacd;
  background-image: linear-gradient(#c2dacd, #b6ccbb);
  font-weight: 500; }
  #Nav #nicoleSandry {
    flex: 0 0 auto;
    order: 1;
    margin-left: 2rem;
    color: black;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.375rem;
    letter-spacing: 0.5rem; }
  #Nav .active {
    text-decoration: none; }
    @media (min-width: 750px) {
      #Nav .active {
        text-decoration: underline;
        text-decoration-color: white;
        -web-kit-text-decoration-color: white;
        font-weight: 600; } }
  #Nav #desktop-nav {
    display: none;
    flex: 0 0 auto;
    order: 2; }
    @media (min-width: 750px) {
      #Nav #desktop-nav {
        display: inline;
        align-self: flex-end; } }
  #Nav .NavLink {
    padding-right: 2rem;
    color: black; }

#mobile-nav {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  order: 3;
  margin: 0;
  position: absolute;
  top: 4rem;
  z-index: 1;
  border-radius: 2px;
  box-shadow: 0 1px 1px #ccc;
  background-color: white; }
  #mobile-nav .NavLinkMobile {
    flex: 0 0 auto;
    padding: 0.5rem 0;
    color: black;
    text-align: center; }
  #mobile-nav .mobileActive {
    background-color: white;
    color: black;
    font-weight: 600; }
  @media (min-width: 750px) {
    #mobile-nav {
      display: none; } }

#mobile-icon {
  flex: 0 0 auto;
  order: 2;
  padding-right: 2rem; }
  #mobile-icon :hover {
    cursor: pointer; }
  @media (min-width: 750px) {
    #mobile-icon {
      display: none; } }

#footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 1.5rem 2rem; }
  @media (min-width: 750px) {
    #footer {
      justify-content: center; }
      #footer a {
        margin: 0 1rem; } }
