#About {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#About-Container {
	width: 80%;
	background-color: pink;
	margin-top: 1.25rem;
	padding-bottom: 1.5rem;

	display: flex;
	flex-flow: row wrap;

	#text{
		margin-left: 5rem;
	}
}