#About {
	@include row-wrap;
	justify-content: center;
	width: 100%;
	@include montserrat-light;
}

#About-Container {
	width: $mobile-div-width * 1%;
	@include col-wrap;
	justify-content: center;
	@include respond-to("about-medium") {
		@include row-nowrap;
		width: $desktop-div-width * 1%;
	}

	// set max width
	@include respond-to("large") {
		width: 950px;
	}

	img {
		align-self: center;

		@include respond-to("small-max") {
			width: 100%;
			height: auto;
		}

		@include respond-to("about-medium") {
			align-self: flex-start;
		}
	}

	#text {
		font-size: $mobile-font-size * 1rem;
		text-align: justify;

		@include respond-to("about-medium") {
			max-width: 600px;
			text-align: justify;
			margin: 0 0 0 4rem;

			p:nth-child(1) {
				margin-top: 0;
			}
		}

		p {
			margin-top: $top * 1rem ;
		}

		a:hover {
			text-decoration: underline;
			text-decoration-color: rgb(128, 128, 128);
		}
	}
}
