#Resume {
	display: flex;
	flex-flow: column nowrap;
	padding: 1.5rem 0;
	text-align: left;
	font-size: .83rem;
	
	@media screen and (min-width: 480px) {
		/*background-color: yellow;*/
		width: 100%;
		height: auto;
		font-size: 1rem;

		h2 {
			font-size: 1.5rem;
		}

		h3 {
			font-size: 1.25rem;
		}

		h4 {
			font-size: 1.17rem;
		}

		h5 {
			font-size: 1rem;
		}
	}
}

#resume-container {
	flex: 0 0 auto;
	align-self: center;
	width: 80%;

	display: flex;
	flex-flow: column nowrap;

	@media screen and (min-width: 480px) {
		/*background-color: powderblue;*/
		flex-flow: column wrap;
		// must set height to stack elements
		height: 950px;
		width: 85%;

		// must set this to stack elements
		#contact-container, #skills-container, #right-container {
			flex: 1;
			width: 30%;
		}

		#contact-container {
			/*background-color: pink;*/
			flex: 0 0 auto;
			order: 1;
			margin: 0;
			align-self: flex-start;
			border-right: 1px solid black;
			/*padding-bottom: 1rem;*/

			#contact-header {
				text-align: left;
				margin-left: .75rem;
				font-size: 1.5rem;
			}
		}

		#skills-container {
			/*background-color: lime;*/
			order: 2;
			align-self: flex-start;
			border-right: 1px solid black;

			.skills, h2 {
				margin-left: 1rem;
			}
		}

		#right-container {
			/*background-color: orange;*/
			flex: 0 0 100%;
			order: 3;
			width: 67%;
			align-self: flex-end;
			
			h2:nth-child(1) {
				margin: 0 0 .25rem 0;
			}

		}

	}
}

#contact-container {
	flex: 0 0 auto;
	align-self: center;
	margin: .25rem 0 0 0;
	width: 14.75rem;
	font-size: 1rem;

	#contact-header {
		font-size: 1.25rem;
		text-align: center;
		text-transform: uppercase;
	}

	#contact {
		li {
			list-style-type: none;
			text-align: left;
			margin: 0 0 0 .75rem;
			line-height: 1.5rem;
		}

		// contact icons
		img {
			width: 1rem;
			height: 1rem;
			padding-right: .375rem;
			position: relative;
			top: 2px;
		}

		// adjust email icon to align with text
		#email {
			top: 3px;
		}
	}
}

// Section Headers
h2 {
	font-size: 1.25rem;
	text-transform: uppercase;
	margin: 1.5rem 0 .25rem 0;
	letter-spacing: .075rem;
}

// Position & School
h3 {
	font-size: 1.17rem;
	line-height: 1.625rem;
}

// Company
h4 {
	font-size: 1rem;
	line-height: 1.25rem;
}

// Dates
h5 {
	font-size: .83rem;
	margin: 0 0 .125rem 0;
	line-height: 1.25rem;
}

// Responsibilities
ul, li {
			width: 90%;
			list-style-position: outside;
			list-style-type: disc;
			margin-left: 1rem;
}

li {
	text-align: left;
	line-height: 1.25rem;
	margin-bottom: .25rem;
}

#bachelor-of-arts-in-interdisciplinary-studies, #resident-assistant {
	margin-top: 1rem;
}

// fix the extra spacing between Technical Skills and Languages
#tech-skills-col {
	div:nth-child(1){
		margin-top: -.5rem;

		@media screen and (min-width: 480px) {
			margin-top: -.25rem;
		}
	}
}

#skills-container {
	.skills {
		h4 {
			margin-top: 1rem;
			text-transform: uppercase;
			letter-spacing: .0625rem;
		}
	}
}

.lineBreak {
	width: 75%;
	height: .5rem;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #CCCCCC;
	border-left: none;

	@media screen and (min-width: 480px) {
		display: none;
	}
}