#Resume {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 1.5rem 0;
	text-align: left;
	font-size: 0.83rem;
	font-family: "Montserrat", sans-serif;
	width: 100%;

	@media screen and (min-width: 922px) {
		width: 100%;
		height: auto;
	}
}

#resume-container {
	flex: 0 0 auto;
	align-self: center;
	width: 80%;

	display: flex;
	flex-flow: column nowrap;

	a:hover {
		text-decoration: underline;
		text-decoration-color: rgb(128, 128, 128);
	}

	@media screen and (min-width: 750px) {
		flex-flow: column wrap;
		// must set height to stack elements
		height: 1215px;
		width: 85%;

		// must set this to stack elements
		#contact-container,
		#skills-container,
		#right-container {
			flex: 1;
			width: 33%;
		}

		#contact-container {
			//background-color: pink;
			flex: 0 0 auto;
			order: 1;
			margin: 0;
			align-self: flex-start;
			border-right: 1px solid black;

			#contact-header {
				text-align: left;
				margin-left: 0.75rem;
			}
		}

		#skills-container {
			//background-color: lime;
			order: 2;
			align-self: flex-start;
			border-right: 1px solid black;

			.skills,
			h2 {
				margin-left: 1rem;
				padding-right: 0.75rem;
			}
		}

		#right-container {
			//background-color: orange;
			flex: 0 0 100%;
			order: 3;
			width: 63%;
			align-self: flex-end;

			h2:nth-child(1) {
				margin: 0 0 0.25rem 0;
			}
		}
	}

	@media screen and (min-width: 766px) and (max-width: 800px) {
		height: 1170px;
	}

	@media screen and (min-width: 801px) and (max-width: 830px) {
		height: 1150px;
	}

	@media screen and (min-width: 831px) and (max-width: 880px) {
		height: 1130px;
	}

	@media screen and (min-width: 881px) and (max-width: 890px) {
		height: 1100px;
	}

	@media screen and (min-width: 891px) and (max-width: 998px) {
		height: 1060px;
	}

	@media screen and (min-width: 999px) and (max-width: 1080px) {
		height: 1000px;
	}

	@media screen and (min-width: 1081px) and (max-width: 1150px) {
		height: 990px;
	}

	@media screen and (min-width: 1151px) and (max-width: 1224px) {
		height: 980px;
	}

	// set max width
	@media screen and (min-width: 1225px) {
		width: 950px;
		height: 970px;
	}
}

#contact-container {
	flex: 0 0 auto;
	align-self: center;
	margin: 0.25rem 0 0 0;
	width: 16.375rem;
	//font-size: 1rem;

	#contact-header {
		text-align: center;
		margin: 0 0 0.25rem 0;
	}

	.contact {
		display: block;
		text-align: left;
		margin: 0 0 0 0.75rem;
		line-height: 1.5rem;
		font-weight: 300;

		// contact icons
		img {
			width: 1rem;
			height: 1rem;
			padding-right: 0.375rem;
			position: relative;
			top: 2px;
		}

		// adjust email icon to align with text
		#email-icon {
			top: 3px;
		}
	}
}

// Section Headers
#development-experience,
#professional-experience,
#education,
#technical-skills,
#contact-header {
	font-family: "Oswald", sans-serif;
	font-size: 1.25rem;
	text-transform: uppercase;
	margin: 1.5rem 0 0.25rem 0;
	letter-spacing: 0.075rem;
}

// Position & Degree
#hele,
#office-social-media-manager,
#resident-assistant,
#fullstack-javascript-web-engineering,
#bachelor-of-arts-in-interdisciplinary-studies {
	font-size: 1.17rem;
	line-height: 1.625rem;
}

// Company
#-hele-io-https-hele-io-,
#handcrafted-restaurants-llc,
#office-of-residential-life-housing-services-at-new-york-university,
#communications-with-a-minor-in-social-entrepreneurship,
#languages,
#frontend,
#server-side,
#database,
#web-skills,
#business-development {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.25rem;
}

// Dates & School
#may-2017,
#hi-aug-2013-dec-2017,
#ny-aug-2012-may-2013,
#devleague,
#new-york-university-gallatin-school-of-individualized-study-2011-2013 {
	font-size: 0.83rem;
	margin: 0 0 0.125rem 0;
	line-height: 1.25rem;
}

// Responsibilities

.responsibilities {
	width: 90%;

	li {
		font-weight: 300;
		list-style-position: outside;
		list-style-type: disc;
		margin-left: 1rem;
	}
}

#resp-skills {
	text-align: left;
	line-height: 1.25rem;
	margin-bottom: 0.25rem;
}

#bachelor-of-arts-in-interdisciplinary-studies,
#resident-assistant {
	margin-top: 1rem;
}

// fix the extra spacing between Technical Skills and Languages
#tech-skills-col {
	div:nth-child(1) {
		margin-top: -0.5rem;

		@media screen and (min-width: 922px) {
			margin-top: -0.25rem;
		}
	}
}

#skills-container {
	.skills {
		h4 {
			font-family: "Montserrat", sans-serif;
			font-weight: 500;
			margin-top: 1rem;
			padding-right: 0.5rem;
			text-transform: uppercase;
			letter-spacing: 0.0625rem;
		}
	}
}

.lineBreak {
	width: 75%;
	height: 0.5rem;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #cccccc;
	border-left: none;

	@media screen and (min-width: 750px) {
		display: none;
	}
}
