// Font & Styles
$body-font: ('Montserrat', sans-serif);
$body-font-light: 300;
$body-font-heavy: 500;
$body-font-reg: 400;
$desktop-font-size: 1;
$mobile-font-size: 0.83;
$header-font: ('Oswald', sans-serif);
$header-weight: 700; 
$line-height: 1.25;

// Views
$desktop-div-width: 85;
$mobile-div-width: 80;
$bottom: 1.5;
$top: 1.25;