#workContainer {
	@include col-nowrap;
	font-size: $mobile-font-size * 1rem;
	@include montserrat-reg;
}

.work {
	// style for container
	width: $mobile-div-width * 1%;
	flex: 0 0 auto;
	align-self: center;
	margin-top: $top * 1rem;
	&:nth-child(1) {
		margin-top: 0;
	}
	padding-bottom: 0.75rem;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 0.5rem #ccc;
	text-align: left;

	@include respond-to("medium") {
		max-width: 800px;
	}

	// style for contents
	@include col-wrap;

	.workImg {
		height: 200px;
		width: 100%;
		flex: 0 0 auto;
		order: 0;
		object-fit: cover;
		object-position: 50% top;

		@include respond-to("medium") {
			height: 320px;
		}

		@media screen and (min-width: 615px) {
			height: 440px;
		}

		@include respond-to("medium") {
			height: 560px;
		}
	}

	.company {
		flex: 0 0 auto;
		order: 1;
		margin: 0.5rem 0;
		padding: 0 1rem;
		@include oswald-type;
		font-size: ($desktop-font-size * 1rem) + 0.125rem;
	  letter-spacing: 0.075rem;

		@include respond-to("medium") {
			font-size: ($desktop-font-size * 1rem) + 0.5rem;
		}
	}

	.position {
		flex: 0 0 auto;
		order: 2;
		margin-bottom: 0.5rem;
		margin-left: 1rem;
		font-size: $desktop-font-size * 1rem;
		font-weight: $body-font-heavy;

		include respond-to('medium') {
			font-size: ($desktop-font-size * 1rem) + 0.125rem;
		}
	}

	.description {
		flex: 0 0 auto;
		order: 3;
		margin-bottom: 0.625rem;
		padding: 0 1rem;
		@include montserrat-light;
	}

	.workContributions {
		flex: 0 0 auto;
		order: 4;
		margin: 0;
		padding: 0;
		@include montserrat-light;

		.contributions {
			font-size: $desktop-font-size * 1rem;
			font-weight: $body-font-heavy;
			margin: 0 0 0.125rem 1rem;

			@include respond-to("medium") {
				font-size: ($desktop-font-size * 1rem) + 0.125rem;
			}
		}

		ul {
			margin: 0 0 0 1.5rem;
		}

		li {
			width: 90%;
			margin: 0 0 0.25rem 1rem;
			text-align: left;
			list-style-position: outside;
			list-style-type: disc;
		}
	}

	.links {
		order: 5;
		margin: 0.625rem 0 0.5rem 0;
		padding: 0 1rem;
		@include montserrat-light;
		white-space: nowrap;

		p {
			font-weight: $body-font-heavy;
			overflow: hidden;
		}

		a {
			padding-left: 0.625rem;
			@include montserrat-light;

			&:hover {
				text-decoration: underline;
				text-decoration-color: rgb(0, 0, 0);
			}
		}
	}
}
