#workContainer {
	display: flex;
	flex-flow: column nowrap;
	padding-bottom: $bottom;
	font-size: $mobile-font-size;
}

.work {
	// style for container
	flex: 0 0 auto;
	width: $mobile-div-width;
	align-self: center;
	margin-top: $top;
	padding-bottom: 0.75rem;
	text-align: left;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 4px 0.5rem #ccc;

	@include respond-to('min-desktop') {
		max-width: 800px;
	}

	// style for contents
	display: flex;
	flex-flow: column wrap;

	.workImg {
		flex: 0 0 auto;
		order: 0;
		width: 100%;
		height: 200px;
		object-fit: cover;
		object-position: 50% top;

		@include respond-to('min-desktop') {
			height: 320px;
		}

		@media screen and (min-width: 615px) {
			height: 440px;
		}

		@include respond-to('min-desktop') {
			height: 560px;
		}
	}

	.company {
		flex: 0 0 auto;
		order: 1;
		font-size: $desktop-font-size + 0.125rem;
		font-family: "Oswald", sans-serif;
		font-weight: 700;
		margin: 0.5rem 0 0.5rem 1rem;

		@media screen and (min-width: 750px) {
			font-size: $desktop-font-size + 0.5rem;
		}
	}

	.position {
		flex: 0 0 auto;
		order: 2;
		font-size: $desktop-font-size;
		font-family: "Montserrat", sans-serif;
		font-weight: 500;
		margin-bottom: 0.5rem;
		margin-left: 1rem;

		include respond-to('min-desktop') {
			font-size: $desktop-font-size + 0.125rem;
		}
	}

	.description {
		flex: 0 0 auto;
		order: 3;
		margin-bottom: 0.625rem;
		line-height: $line-height;
		padding: 0 1rem;
		font-family: "Montserrat", sans-serif;
		font-weight: 300;
	}

	.workContributions {
		flex: 0 0 auto;
		order: 4;
		font-family: "Montserrat", sans-serif;
		font-weight: 300;
		margin: 0;
		padding: 0;

		.contributions {
			font-size: $desktop-font-size;
			font-family: "Montserrat", sans-serif;
			font-weight: 500;
			margin: 0 0 0.125rem 1rem;

			@include respond-to('min-desktop') {
				font-size: $desktop-font-size + 0.125rem;
			}
		}

		li {
			width: 90%;
			text-align: left;
			line-height: $line-height;
			list-style-position: outside;
			list-style-type: disc;
			margin: 0 0 0.25rem 1rem;
		}

		ul {
			margin: 0 0 0 1.5rem;
		}
	}

	.links {
		order: 5;
		font-family: "Montserrat", sans-serif;
		font-weight: 300;
		margin: 0.625rem 0 0.5rem 0;
		padding: 0 1rem;
		white-space: nowrap;
		line-height: $line-height;

		p {
			font-weight: 500;
			overflow: hidden;
		}

		a {
			font-weight: 300;
			padding-left: .625rem;
		}

		a:hover {
			text-decoration: underline;
			text-decoration-color: rgb(0, 0, 0);
		}
	}
}
