@import "./partials/reset";
@import "./partials/_clearfix";
@import "./partials/work";
@import "./partials/resume";

body {
  font-family: Arial, Helvetica, sans-serif;

  a, a:visited {
    text-decoration: none;
    color: rgb(0,0,0);
  }
}


#Nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: .5rem 0;
  background-color: rgb(125,125,125);

  #nicoleSandry {
  	flex: 0 0 auto;
    order: 1;
    /*width: 80%;*/
    font-size: 1.75rem;
    color: rgb(255,255,255);
    margin-right: 30%;
    /*background-color: green;*/
  }

  .NavLink {
    flex: 0 0 auto;
    order: 2;
    color: rgb(255,255,255);
    display: none;
  }
}

#mobile-nav{
  flex: 0 0 auto;
  order: 3;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  background-color: rgba(255,255,255,1.0);
  
  // move div element below the Nav bar when dispalyed
  position: absolute;
  top: 3rem;

  // use z-index to overlap SVG images
  z-index: 1;

  .NavLinkMobile {
    flex: 0 0 auto;
    color: rgb(0,0,0);
    text-align: center;
    padding: .5rem 0;
  }
}

#mobile-icon {
  flex: 0 0 auto;
  order: 2;

  :hover {
    cursor: pointer;
  }
}

#footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding-bottom: 1rem;
}
